asgiref==3.12.1
certifi==2026.7.22
charset-normalizer==3.5.1
Django==5.2.7
django-eventstream==5.3.3
django-grip==3.5.2
et_xmlfile==2.0.0
gripcontrol==4.4.0
gunicorn==23.0.0
idna==3.19
MarkupSafe==3.0.3
openpyxl==3.1.5
packaging==26.3
psycopg2-binary==2.9.11
pubcontrol==3.5.0
PyJWT==2.13.0
requests==2.34.2
six==1.17.0
sqlparse==0.6.0
urllib3==2.7.0
waitress==3.0.2
Werkzeug==3.1.8
